/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.banner {
	display: block;
	margin: 0 auto;
	width: var(--ifm-container-width-xl);
	max-width: 95vw;
	padding-top: 30px;
}

.countdown {
	display: block;
	margin: 0 auto;
	text-align: center;
	margin: 30px auto;
}

.index_hr {
  width: 50%;
  margin: auto;
  background-color: var(--ifm-color-primary);
}

.form {
	display: block;
	margin: 10px auto;
}

html[data-theme="dark"] .form {
		filter: invert(77%) hue-rotate(95deg);
}

@media screen and (max-width: 990px) {
	h1 {
		font-size: 1.902em;
	}

	.countdown {
		max-width: 80vw;
	}

	.form {
		max-width: 90vw;
	}
}
